<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="email">Email</label>
      <input name="email" placeholder="email adress" type="email" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <label for="password2">Repeat Password</label>
      <input name="password2" type="password" />
      <button>Sign Up</button>
    </form>
  </body>
</html>
